@model Blog_MVC.Models.Category

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="well">
        <h1><b>Създаване категория</b></h1>
        @using (@Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group span=8 offset=2">
                @Html.LabelFor(m => m.Name,"Име на категория", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    @Html.ActionLink("Отказ", "Index", "Category", new { @class = "btn btn-default" })
                    <input type="submit" value="Създай" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
