@{
    ViewBag.Title = "Потвърждение на електронна поща";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Благодарим ви вашата регистрация е готова. Моля @Html.ActionLink("щракнете тук за влизане", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
